[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "themes/Spcultura"]
	path = themes/Spcultura
	url = https://github.com/mapasculturais/theme-Spcultura
